{% extends 'tsurezure/layout.html' %}

{% block main %}
{{block.super}}
<div class="container">
    <h3 class="text-center">パスワードを確認します</h3>
    <br/>
    {% for error in register_form.non_field_errors %}
        <div class="alert alert-danger alert" role="alert">{{error}}</div>
    {% endfor %}
    {% if wrong_password_flg %}
        <div class="alert alert-danger alert" role="alert">パスワードが一致しません。</div>
    {% endif %}
    <form action="{% url 'password-confirmation' %}" method="post" class="mx-auto form-signin login-form" id="login-form">
        {% csrf_token %}
        {{ form.password }}
        {% for error in form.password.errors %}
            <div class="alert alert-danger alert" role="alert">{{error}}</div>
        {% endfor %}
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="送信"></input>
    </form>
</div>
{% endblock %}